body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center

}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #96a31e;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #9f29ba;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #8e45a0;
}

#validationMessage {
    font-size: 14px;
    color: red;
    margin-top: 10px;
}

#generatedPassword {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(193, 199, 165);
}


